<!--
  Generated template for the PlaceMandatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Place a Mandate</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
  <switch-portfolio [showCashAvailableForTrading]="true" [showTotalValue]="false">
  </switch-portfolio>

  <ion-item-divider color="light" class="font-size-18 bg-light-blue"></ion-item-divider>

  <form [formGroup]="placeMandateForm">

    <!-- Order Type -->
    <ion-item>
      <ion-label floating>Order Type</ion-label>
      <ion-select formControlName="orderType" (ionChange)="onOrderTypeChange()">
        <ion-option *ngFor="let orderType of orderTypes" [value]="orderType.value">{{orderType.text}}</ion-option>
      </ion-select>
    </ion-item>

    <!-- Symbol -->
    <ion-item>
      <ion-label floating>Symbol</ion-label>
      <ion-select formControlName="instrument" [(ngModel)]="selectedSecurity" (ionChange)="onInstrumentChange()">
        <ion-option *ngFor="let symbol of displaySecurities" [value]="symbol.name">{{symbol.name}}</ion-option>
      </ion-select>
    </ion-item>

    <!-- Price Option -->
    <ion-item>
      <ion-label floating>Price Option</ion-label>
      <ion-select formControlName="priceType" (ionChange)="onPriceOptionChange()">
        <ion-option *ngFor="let priceOption of priceOptions" [value]="priceOption.value">{{priceOption.text}}</ion-option>
      </ion-select>
    </ion-item>

    <!-- Limit Price -->
    <ion-item *ngIf="isLimitOrder">
      <ion-label floating>Limit Price</ion-label>
      <ion-input type="number" formControlName="limitPrice" required></ion-input>
    </ion-item>

    <!-- Quantity Requested-->
    <ion-item>
      <ion-label floating>Quantity</ion-label>
      <ion-input type="number" formControlName="quantityRequested"></ion-input>
    </ion-item>

    <!-- Quantity Held-->
    <ion-item *ngIf="showQuantityHeld">
      <ion-label floating>Quantity Held</ion-label>
      <ion-input type="text" [value]="stockQuantityHeld" readonly></ion-input>
    </ion-item>

    <!-- Order Terms (LIMIT) -->
    <ion-item *ngIf="!isMarketOrder">
      <ion-label floating>Order Term</ion-label>
      <ion-select formControlName="orderTermName" [(ngModel)]="orderTerm">
        <ion-option *ngFor="let orderTerm of stbStore.tradeOrderTerms | async" [value]="orderTerm.name">{{orderTerm.label}}</ion-option>
      </ion-select>
    </ion-item>

    <!-- Order Terms (MARKET) -->
    <ion-item *ngIf="isMarketOrder">
      <ion-label floating>Order Term</ion-label>
      <ion-select formControlName="orderTermName" [(ngModel)]="orderTerm" disabled="true">
        <ion-option *ngFor="let orderTerm of stbStore.tradeOrderTerms | async" [value]="orderTerm.name">{{orderTerm.label}}</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button (click)="previewMandate()" [disabled]="!placeMandateForm.valid" class="mt40" block>
      Preview Mandate</button>
  </form>

</ion-content>
