page-home {
    .home-page-background {
        background-image: url('../assets/imgs/home/background.jpg');
    }
    .home-page-background {
        ion-card {
            position: relative;
            text-align: center;
            border-radius: 0;
            box-shadow: unset;
            background-color: transparent;
            height: 20%;
        }
        .card-title {
            position: absolute;
            top: 80%;
            font-size: 1.2em;
            width: 100%;
            font-weight: 500;
            color: #1A2155;
        }
        ion-grid {
            margin-top: 50%;
        }
        ion-grid button span {
            text-align: left;
            text-transform: none;
        }
    }
}