<!--
  Generated template for the TradeHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Trade History</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <switch-portfolio></switch-portfolio>

  <!-- Outstanding and All Orders -->
  <div no-padding>
    <ion-segment [(ngModel)]="tradeOrderStatus" class="mt10">
      <ion-segment-button value="outstanding">
        Outstanding
      </ion-segment-button>
      <ion-segment-button value="all">
        All
      </ion-segment-button>
    </ion-segment>
  </div>


  <div class="row mt20 tradeOrderGroup" *ngFor="let tradeOrderDate of stbStore.outstandingTradeOrdersGroupedByDate | async">
    <ion-item-divider color="light" class="font-size-14 bg-light-blue">{{tradeOrderDate[0].date}} </ion-item-divider>
    <ion-grid class="tradeOrderWrapper" *ngFor="let tradeOrder of tradeOrderDate" (click)="toggleTradeOrderDisplay($event)">
      <div class="headers">
        <ion-row>
          <ion-col class="pl15">{{tradeOrder.orderType}}: {{tradeOrder.instrument}}</ion-col>
          <ion-col text-right>Qty: {{tradeOrder.quantityFilled| number:'1.0-0'}}</ion-col>
        </ion-row>
      </div>

      <!-- TradeOrder details -->
      <div class="details">
        <ion-row>
          <ion-col class="pl15">Quantity Requested</ion-col>
          <ion-col text-right>{{tradeOrder.quantityRequested | number:'1.0-0'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="pl15">Quantity Executed</ion-col>
          <ion-col text-right>{{tradeOrder.quantityFilled | number:'1.0-0'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="pl15">Price Type</ion-col>
          <ion-col text-right>{{tradeOrder.priceType}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="pl15">Limit Price</ion-col>
          <ion-col text-right>&#8358;{{tradeOrder.limitPrice}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="pl15">Order Date</ion-col>
          <ion-col text-right>{{tradeOrder.orderDate | date:'mediumDate' }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="pl15">Status</ion-col>
          <ion-col text-right>{{tradeOrder.orderStatus}}</ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>




</ion-content>
