/**
* This stylesheet defines custom styles required for the app.
*
* @author Omadoye Abraham <omadoyeabraham@gmail.com>
*/


/**
* Backgrounds
**/
.bg-black {
  background: #333333;
  color: #FFFFFF;
}

/**
* CSS Utilities
**/
.no-border {
  border: none !important;
}
